/* Edited for Threads Theme */

// Font size variables
//
// A scale of sizes has been defined for its use along the different elements of the theme.
// As it happens with many other sizing scales variables go from XS to XXXL
// Every size is relative to a base font size that may be modified. In that case all the other sizes will change in relationship to this new base size.
// With the exception of this base font size expressed in pixels, font sizes are expressed in rem units.
//
// $sc-font-size-xxs - Double extra small font size
// $sc-font-size-xs - Extra small font size
// $sc-font-size-s - Small font size
// $sc-font-size-m - Medium font size
// $sc-font-size-l - Large font size
// $sc-font-size-xl - Extra large font size
// $sc-font-size-xxl - Double extra large font size
// $sc-font-size-xxxl - Triple extra large font size
// $sc-font-weight-light - Light font weight
// $sc-font-weight-normal - Normal font weight
// $sc-font-weight-semibold - Semibold font weight
// $sc-font-weight-bold - Bold font weight
//
// Markup:
// <p style="font-size: $sc-font-size-xxs">Good design is obvious. Great design is transparent <strong>$sc-font-size-xxs</strong>.</p>
// <p style="font-size: $sc-font-size-xs">Good design is obvious. Great design is transparent <strong>$sc-font-size-xs</strong>.</p>
// <p style="font-size: $sc-font-size-s">Good design is obvious. Great design is transparent <strong>$sc-font-size-s</strong>.</p>
// <p style="font-size: $sc-font-size-m">Good design is obvious. Great design is transparent <strong>$sc-font-size-m</strong>.</p>
// <p style="font-size: $sc-font-size-l">Good design is obvious. Great design is transparent <strong>$sc-font-size-l</strong>.</p>
// <p style="font-size: $sc-font-size-xl">Good design is obvious. Great design is transparent <strong>$sc-font-size-xl</strong>.</p>
// <p style="font-size: $sc-font-size-xxl">Good design is obvious. Great design is transparent <strong>$sc-font-size-xxl</strong>.</p>
// <p style="font-size: $sc-font-size-xxxl">Good design is obvious. Great design is transparent <strong>$sc-font-size-xxxl</strong>.</p>
// <p style="font-weight: $sc-font-weight-light;">Freedom lies in being bold. - font weight $sc-font-weight-light.</p>
// <p style="font-weight: $sc-font-weight-normal;">Freedom lies in being bold. - font weight $sc-font-weight-normal.</p>
// <p style="font-weight: $sc-font-weight-semibold;">Freedom lies in being bold. - font weight $sc-font-weight-semibold.</p>
// <p style="font-weight: $sc-font-weight-bold;">Freedom lies in being bold. - font weight $sc-font-weight-bold.</p>
//
//// Styleguide 1.2
//$sc-font-size-base: 15px;
//$sc-font-size-xxs: 0.75rem; // 12px
//$sc-font-size-xs: 0.87rem; // 13.92px
//$sc-font-size-s: 0.93rem; // 14.88px
//$sc-font-size-m: 1rem; // 16px
//$sc-font-size-l: 1.067rem; // 17.072px
//$sc-font-size-xl: 1.2rem; // 19.2px
//$sc-font-size-xxl: 1.47rem; // 23.52px
//$sc-font-size-xxxl: 1.73rem; // 27.68px

// custom font-sizes
$sc-font-size-base: 15px;
$sc-font-size-xxs: 0.75rem;  
$sc-font-size-xs: 0.87rem; 
$sc-font-size-s: 0.93rem;
$sc-font-size-m: 1rem; 
$sc-font-size-l: 1.067rem;
$sc-font-size-xl: 1.2rem;
$sc-font-size-xxl: 1.47rem; 
$sc-font-size-xxxl: 1.73rem; 
$sc-font-size-l-button: 1.3125rem;
// Font family
// $sc-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
/* edited by TopSecurity Theme */
//$sc-font-family: "Barlow Semi Condensed", sans-serif;

// start Added by Ishendu 
$sc-font-family: "sofia-pro", sans-serif;
// end Added by ishendu 

// Font weight
$sc-font-weight-extra-light: 400;
$sc-font-weight-light: 400;
$sc-font-weight-normal: 400;
$sc-font-weight-medium: 500;
$sc-font-weight-semibold: 600;
$sc-font-weight-condensed-bold: 700;
$sc-font-weight-bold: 600; // was $sc-font-weight-bold: 800; 



$sc-navigation-icon-size: 25px;

$sc-was-uppercase: inherit;

// Top Security
//H1 60px/3.75rem   semi-bold   72px (LS) 16 (CS)
//H2 48px/3rem      bold        58px (LS) 16 (CS)
//H3 40px/2.5rem    bold        48px (LS) 16 (CS)
//H4 32px/2rem      bold        38px (LS) 16 (CS)
//H5 24px/1.5rem    bold        29px (LS) 16 (CS)
//h6 21px/1.3125rem bold        27px (LS) 16 (CS)
//H7 16px/1rem      bold $sc-was-uppercase regular   22px (LS) 100(CS)


// start Added by Ishendu 
//$sc-font-size-xxxlts: 1.875rem; // for x 2  60px
//$sc-font-size-xxlts: 3rem; //48px
//$sc-font-size-xxlts3: 2.5rem; // 40px
//$sc-font-size-l: 2rem; // 32px
//$sc-font-size-mts5: 1.5rem; // 24px
//$sc-font-size-mts: 1.3125rem; // 21px
// end Added by ishendu 