/* Edited for Threads Theme */

.merchandising-zone-container .bx-wrapper {
	//position: relative;
}

.merchandising-zone-container .bx-controls-direction {
    text-align: right;
}

.merchandising-zone {
    padding-top: $sc-padding-lv3;
}
.merchandising-zone-container {
    min-height: 200px;
	  position: relative;
    margin: 0 $sc-margin-lv3;
}

.merchandising-zone h3 {
    margin-bottom: $sc-margin-lv2;
}

.merchandising-zone .merchandising-zone-cell-template-cell {
    padding: 0 3px;
	@media (min-width: $screen-sm-min) {
		padding: 0 6px;
	}
}

.merchandising-zone .global-views-star-rating {
    margin: 0 auto;
    display: inline-block;
}

.merchandising-zone-description{}
