// Edited for Threads Theme

.header-logo {
    //text-align: center;
	display: inline-block;

	@media (max-width: $screen-xs-min) {
		max-width: 100%;
	}

	@media (min-width: $screen-sm-min) {
		width: 100%;
	}
}

.header-logo-image {
	width: auto;
	vertical-align: middle;
	@media (max-width: $screen-xs-min) {
		//height: 60px;
		//padding: 5px;
		width: 82px;
	}

	// @media (min-width: $screen-sm-min) {
		
	// }
	
}

.header-logo-sitename {}
