/* Edited for Threads Theme */

.item-relations-related-item{
	//height:250px;
	//width:228px;
}


.item-relations-related-item-thumbnail{
	width:100%;
	margin-bottom:$sc-margin-lv2;
	overflow:hidden;
	display: block;
	min-height: $img-large !important; 
	@media (max-width: $screen-md-min) {
		min-height: 167px !important; 
	}
}

.item-relations-related-item-price{
	@extend .middle-price;
}
.relations-related-item-price {
    margin-top: 15px;
}

.item-relations-related-item-rate{
	margin-bottom:$sc-margin-lv2;
	display: inline-block;
	text-align:center;
	.global-views-star-rating{
		width:92px;
		margin:auto;
	}
}
