/* Edited for Threads Theme */

.item-cell {
    position: relative;
	margin-bottom: $sc-margin-lv3;
}

.item-cell-link-image {
	height:250px;
	line-height:250px;
}

.item-cell-image {
	vertical-align:middle;
}
.item-cell-brand{
	//@extend .small-title-navigable;
	font-size: $sc-font-size-s;
    line-height: 1.25rem;
	padding: $sc-padding-lv2 0 0;
	display: block;
	text-align: left;
	font-weight: $sc-font-weight-medium;
}

.item-cell-title {
	font-size: $sc-font-size-xl;
	font-weight: $sc-font-weight-semibold;
    line-height: 1.25rem;
	padding: $sc-padding-lv2 0 0;
	display: block;
	text-align: left;
}
.item-cell-sku{
	@extend .small-title-navigable;
    line-height: 1.25rem;
	padding: $sc-padding-lv2 0 0;
	display: block;
	text-align: left;
	color: $sc-color-lightgray;
	font-size: $sc-font-size-s;
	font-weight: $sc-font-weight-medium;
}

.item-cell-price {
	@extend .small-price;
	text-align: left;
}

.item-cell-rate {
	text-align: left;
}

.item-cell-rate-filled {
	@extend .icon-star-filled;
}

.item-cell-rate-empty {
	@extend .icon-star;
}

///////////////////////////////////////////////////////////////
//Quick view

.item-cell-image-wrapper {
	position: relative;
}

.item-cell-quick-view-wrapper {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 45%;
}

.item-cell:hover .item-cell-quick-view-wrapper {
	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.item-cell-quick-view-link {
	@extend .button-secondary;
    @extend .button-medium;
    background-color: transparent;
    color: $sc-color-primary;
}

.icon-cell-quick-view-icon {
	@extend .fa;
	@extend %fa-search;
}