/* Edited for Threads Theme */

.order-wizard-submitbutton-container {
	@extend .col-xs-12;
	padding:0;
	margin : $sc-margin-lv2 0; // philipdenys
	//margin-bottom:$sc-padding-base * 4;
	display:none;
	//border-left: 1px solid $sc-color-theme-border;
	//border-right: 1px solid $sc-color-theme-border;
	//padding: 0 25px; //philipdenys

	@media (min-width: $screen-sm-min) {
		display:block;
	}

}
.order-wizard-submitbutton-module-top{
	display: none;
	margin-top: $sc-margin-lv2;
	margin-bottom: $sc-margin-lv4;
	@media (min-width: $screen-sm-min){
		display: none;
	}
}

.order-wizard-submitbutton-module-button{
	@extend .button-primary;
	@extend .button-large;
	@extend .button-generic;
}
button.order-wizard-submitbutton-module-button{
	display: none;
}
