.checkout-layout {
	@extend %sc-layout;

}
.paymentinstrument-creditcard-edit-form-button-submit { 
	@extend .button-primary;
	@extend .button-medium;
}

.paymentinstrument-creditcard-edit-form-button-cancel {
	@extend .button-secondary;
	@extend .button-medium;
}

.paymentinstrument-creditcard-edit-form-button-reset {
	@extend .button-tertiary;
	@extend .button-medium;
}

.paymentinstrument-creditcard-edit-button-back {
	@extend .button-tertiary;
	@extend .button-medium;
}

.paymentinstrument-creditcard-edit-button-back-icon {
	@extend .button-back-icon;
}

.checkout-layout-header {
	margin-bottom: $sc-margin-lv4;

	@media (min-width: $screen-sm-min){
		margin-bottom: $sc-margin-lv8;
	}
}

.checkout-layout-content, .checkout-layout-notifications{
	@extend .container;
    @include site-max-width-container;
	padding: $sc-padding-lv3;
	
}

.checkout-layout-footer {
	@extend %sc-footer !optional;
}

.checkout-layout-breadcrumb{}

.checkout-layout-no-javascript-msg {
	@extend .message-warning;
	width: 100%;
}
