/* Edited for Threads Theme */

.product-details-information-content {
	margin-top: $sc-margin-lv6;
	margin-bottom: $sc-margin-lv8;

	@media ($screen-md-min) {
		margin-top: 0;
	}
}

.product-details-information-content-tabs {
	@extend .content-tabs;
}

.product-details-information-tab-title {
	@extend .content-tabs-title;
}

.product-details-information-tab-content {
	@extend .tab-content;
}

.product-details-information-tab-content-container {

	ul,
	ul li {
		list-style-type: disc;
		list-style-position: inside;
	}

	ol,
	ol li {
		list-style-type: decimal;
		list-style-position: inside;
	}

	ol li::before {
		content: '';
		width: 10px;
		display: inline-block;
	}
}

.product-details-information-tab-content-panel {
	@extend .tab-content-panel;
}

.product-details-information-tab-content-panel-title {
	@extend .tab-content-panel-title;
}

.product-details-information-tab-content-container {}

.product-details-information-tab-action {
	@extend .tab-action;
}

.product-details-information-tab-action-more {
	@extend .tab-action-more;
	display: none;

	@media (min-width: $screen-sm-min) {
		display: block;
	}
}

.product-details-information-tab-action-less {
	@extend .tab-action-less;
}

.product-details-information-tab-content.show {
	.product-details-information-tab-content-panel {
		max-height: 100%;
	}

	.product-details-information-tab-action-less {
		display: block;
	}

	.product-details-information-tab-action-more {
		display: none;
	}
}

.product-details-information-main-bottom-banner {
	margin-bottom: $sc-margin-lv4;
}

//Pusher button
.product-details-information-pusher {
	@extend .push-button-secondary;
	margin-bottom: $sc-margin-lv3;
	position: relative;
	font-size: $sc-font-size-m;

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}
}

.product-details-information-hint {
	margin-top: $sc-margin-lv3;
	color: $sc-color-copy;
	padding-right: $sc-padding-lv3;
	text-overflow: ellipsis;
	overflow: hidden;
}

[data-action="sc-pushing"].product-details-information-content {
	padding-bottom: $sc-padding-lv2;
}

[data-action="sc-pushing"] .product-details-information-tab-content {
	padding: $sc-padding-lv3 $sc-padding-lv6 $sc-padding-lv6 0;
}

.product-details-information-content-container {}

// TODO: USED FOR THREADS THEME
// PDP UPDATES FOR ALL DEVICES
.product-details-information-content-tabs {
	display: none;
}

.product-details-information-tab-content-panel {
	height: auto;
	max-height: none;
	opacity: 1;
	padding: 0 $sc-padding-lv1 $sc-padding-lv8;
}

button.collapsed {
	margin: 0 auto;
	display: flex;
}

@media (max-width: $screen-sm-min) {
	.product-details-information-content {

		// PUSHER BUTTON
		.product-details-information-pusher {
			display: none;
		}

		// OVERRIDE SC-PUSHABLE-XS STYLES
		// ALWAYS DISPLAY CONTENT
		.product-details-information-tab-content-panel {
			position: static;

			// padding: 0 $sc-padding-lv1 $sc-padding-lv8;
			// HIDE BACK BUTTON
			.sc-pusher-header {
				display: none;
			}

			// ONLY SHOW TAB TITLE ON MOBILE - UPDATES TO TPL
			.product-details-information-tab-content-panel-title {
				// display: block;
				// @media (min-width: $screen-sm-min) {
				//     display: none;
				// }
			}
		}
	}
}

// philip denys
// https://www.colorzilla.com/gradient-editor/
//collapsed state
section [data-view="Product.Information"]{
	.collapse, .collapsing {
		// height: 7rem;  /* [NUM_OF_LINES] x [LINE_HEIGHT] */
		//border: solid red;
	  }
	
	 .collapse {
		position: relative;  /* For ...'s content absolute positioning */
		display: block;
		overflow: hidden;
	  }
	  .multi-collapse.collapse {
		//height: 7rem!important;  /* You need to reset the height when not collapsed  */
	  }
	
	  div.multi-collapse.collapse[aria-expanded="start"] {
		max-height: 21rem;
		// height: 7rem!important;
		}
	.multi-collapse.collapse[aria-expanded="false"] {
		height: 21rem!important;
	}
	// .collapse:before {
	// 	content: ' ...';
	// 	// position: absolute;
	// 	// right: 0;
	// 	// bottom: 0;
	//   }
	  
	//not collapsed state
	 .multi-collapse.collapse.in {
		height: auto !important;  /* You need to reset the height when not collapsed */
		padding-bottom: 25px
	  }
	  
	//   .collapse.show:before {
	// 	display: none;  /* Of course you don't want to display ... */
	//   }
	  
	  .product-details-information-tab-content button.collapsed:after {
		content: '+ Toon meer opties';
	  }
	  
	 .product-details-information-tab-content button:not(.collapsed):after {
		content: '- Toon minder opties';
	  }
	// button
		.btn-default{
			color: $sc-showmore-text-color;
			background: $sc-showmore-background;
			border: 0;
			font-weight: $sc-font-weight-semibold;
			border: white solid 1px;
			&:hover{
				background: $sc-showmore-background-hover;
		  	}
	  }
	

	button[id^='buttonCollapse'] {
		margin: 0 auto;
		display: block;
		padding: 0;
		width: 190px;
		line-height: 40px;
		font-size: 1rem;
		margin-bottom: 30px
	}
	.well{
		margin-bottom: $sc-margin-lv8;
	}
	hr.showMoreline {
		margin-bottom: -20px;
		background: #eaeaea;
		margin-top: 20px;
	}
	.shadowContent {
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+0&0+1,1+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
		height: 24px;
		position: relative;
		margin-top: -64px;
	}
	.tooltip.left .tooltip-arrow {
		border-left-color: #fff;
	}
	.tooltip > .tooltip-inner {
		border: 0;
		-webkit-box-shadow: 0px 3px 8px 0px rgba(234,235,237,1);
		-moz-box-shadow: 0px 3px 8px 0px rgba(234,235,237,1);
		box-shadow: 0px 3px 8px 0px rgba(234,235,237,1);	
	}
	// #EAEBED

}


 
// end philip denys