.home-slider-container {
  margin-bottom: $sc-margin-lv4;
  margin-left: 0;
  margin-right: 0;

  @extend .row;

  // This block is only added if the slide have captions
  .caption-on {
    //making the sliders visible/hidden individually
    .home-slide-caption-container {
      &.caption-display {
        display: block;
        @media (min-width: $screen-sm-min) {
          display: flex;
          display: -ms-flexbox;
        }
      }
    }
  }

  .home-image-slider {
    position: relative;
    .bx-wrapper {
      @media (min-width: $screen-sm-min) {
        margin-bottom: $sc-margin-lv4;
      }
      .bx-viewport {
        height: auto !important;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -khtml-border-radius: 6px;
        // background: whitesmoke;

      //   @media not all and (min-resolution:.001dpcm) { @media {

      //     .safari_only { 
      
      //         border-color:#0000FF; 
      //         background-color:#CCCCCC; 
      
      //     }
      // }}
      }
      .home-slide-main-container .home-slide-image-container {
        //background: $sc-color-slide-background;
        overflow: hidden;
        height: auto;
        text-align: center;

        background-size: 0%;

        @media (min-width: $screen-sm-min) {
          background-size: cover;
          background-position: center center;
        }

        //slider image
        img {
          margin: auto 0;
          height: 100%;
          min-width: auto;
          max-width: 100%;

          float: none;
          width: 100% !important;
          margin: 0 auto -6px !important;
          //min-width: 100% !important;
          min-height: 50px;
          opacity: 1;

          @media (min-width: $screen-sm-min) {
              max-width: none;
              min-width: 1200px;
          }

          @media (min-width: $screen-md-min) {
              opacity: 0;
          }

          //class for emulate the background behaviour, controlling crop sides
          &.backgrounded-left {
             min-width: 1200px !important;
             float: left;
          }
          &.backgrounded-right {
            min-width: 1200px !important;
            float: right;
          }


        }

        &.use-image {
          img {
            min-width: auto;
          }
          @media (max-width: $screen-sm-min) {
            background-image: none !important;
          }
          @media (min-width: $screen-md-min) {
            img {
              opacity: 0;
            }
          }
        }

        &.left {
          @media (min-width: $screen-sm-min) {
            background-image: none !important;
            img {
              min-width: 1200px !important;
              float: right;
              opacity: 1;
            }
          }
        }
        &.right {
          @media (min-width: $screen-sm-min) {
            background-image: none !important;
            img {
              min-width: 1200px !important;
              float: left;
              opacity: 1;
            }
          }
        }
        &.centered {
          @media (min-width: $screen-sm-min) {
            img {
              min-width: 1200px !important;
              float: left;
              opacity: 0; //important for mantain the right height in the slider
            }
          }
        }

        //added for mobile image
        .home-slide-image-mobile {display: none;}
        .hide-small {display: block;}

         @media (max-width: $screen-xs-max) {
             .hide-small {
               display: none;
             }
             .home-slide-image-mobile {
               display: block;
             }
         }
      }

    }
  }


  // pager and controls -------

  .home-image-slider {
    .bx-controls {
      .bx-pager {
        padding-top: 15px;
        @media (min-width: $screen-md-min) {
            position: absolute;
            width: 100%;
            bottom: 0;
            padding-top: 0;
        }

        .bx-pager-item {
            vertical-align: middle;
        }
      }
    }

  }

  .home-image-slider .bx-controls,
  .home-image-slider .bx-controls .bx-pager {
      margin-top: 0;
      @media (min-width: $screen-sm-min) {
        margin-top: $sc-margin-lv2;
      }
  }

  // Prev and Next arrows
  .home-gallery-prev-icon,
  .home-gallery-next-icon {
      display: $sc-home-carousel-icons-display;
      position: absolute;
      top: 50%;
      width: $sc-target-size-mobile;
      height: $sc-target-size-mobile;
      font-size: 30px;
      text-align: center;
      color: $sc-home-carousel-icons-color-desktop;
      margin-top: -20px;
      line-height: 40px;
      @media (max-width: $screen-md-min) {
          display: $sc-home-carousel-icons-display;
          color: $sc-home-carousel-icons-color-mobile;
          margin-top: -38.5px;
          background: rgba(0,0,0,0.1);
          padding: 0 10px 5px;
      }
  }
  .home-gallery-prev-icon {
      left: 10px;
      @extend .icon-angle-left;
  }

  .home-gallery-next-icon {
      right: 10px;
      @extend .icon-angle-right;
  }

  // Pager specifics --------

  .bx-pager-link {
      color: $sc-home-carousel-icons-color-mobile !important;
      background-color: $sc-home-carousel-icons-color-mobile !important;
      width: 10px !important;
      height: 10px !important;
      border-radius: 100% !important;
      font-size:0;
      text-indent:-9999px;

      @media (min-width: $screen-md-min) {
          color: $sc-home-carousel-icons-color-desktop !important;
          background-color: $sc-home-carousel-icons-color-desktop !important;
      }

      &.active {
        background-color: $sc-home-carousel-icons-color-mobile;

        @media (min-width: $screen-md-min) {
            background-color: $sc-home-carousel-icons-color-desktop !important;
        }
      }

  }


  // captions
  .home-slide-caption-container {
    width: 100%;
    padding: $sc-margin-lv4 $sc-margin-lv2;
    text-align: center;
    background: $sc-home-carousel-button-background-color-mobile;
    pointer-events: none;
    display: none;

    @media (min-width: $screen-sm-min) {
        padding: $sc-margin-lv2 $sc-margin-lv2;
        background-position-x: inherit;
        position: absolute;
        background: none;
        //width: 450px;
        width: 100%;
        right: 0;
        bottom: 0;
        height: 100%;

        //Automatic vergical alignment
        flex-grow: 1;
        flex-wrap: wrap;
        align-items: center;

        &.carousel-left {
          .home-slide-caption {
            margin-left: 20px;
          }
        }
        &.carousel-right {
          .home-slide-caption {
            margin-right: 0;
          }
        }
        &.carousel-center {
          width: 100%;
        }
        &.carousel-center-box { //defaut for Customer Segments
          .home-slide-caption {
            background-color: rgba(255,255,255,0.8) !important;
            padding: 20px;
            text-align: center;
            max-width: 50%;
            margin: auto;
          }
        }
    }

    .home-slide-caption {
      //title and description

      @media (min-width: $screen-sm-min) {
          background: none;
          background-color: transparent !important;
          margin: 0;          
          padding: 0 50px;
          margin: auto;
          width: 100%;
          max-width: 900px;

          &.left {
            text-align: left;
          }
          &.right {
            text-align: right;
          }
          &.centered {
            text-align: center;
            width: 100%;
          }

          //animation specific for Threads
          // opacity: 0;
          // transform: translateY(100px);

          // @include transition(all $sc-animation-base-duration ease-in-out);

          // @include animation(fadein 0.7s forwards 0.7s);

          // @include keyframes(fadein) {
          //     100% {
          //       transform: translateY(0px);
          //         //margin-top: 100px;
          //         opacity: 1;
          //     }
          // }
      }

      @media (min-width: $screen-lg-min) {
        //padding: 0 2px;
      }

      @media (max-width: $screen-md-min) {
         width: 100% !important;
      }

      .home-slide-caption-title {
          text-transform: $sc-was-uppercase;
          margin-bottom: $sc-margin-lv6;
          font-size: $sc-home-carousel-title-font-size; // font-size: 3rem;
          font-weight: $sc-font-weight-light;
          text-transform: $sc-home-carousel-title-text-transform;
          letter-spacing: 0px;
          

          @media (min-width: $screen-sm-min){ // tablet size ('from' 768px)
              margin-left: 0;
              font-size: $sc-home-carousel-title-font-size-desktop;
          }

          @media (min-width: $screen-md-min){ // medium screen size
              margin-bottom: 0;
              margin-right: 0;
              padding-bottom: 0;
              
          }

          //piece for override the configurable text color in mobile only.
          @media (max-width: $screen-xs-max) {
            color: $sc-home-carousel-title-color !important; 
          }
      }
      p {
        margin: 0 0 39px 0;
        font-weight: $sc-font-weight-light;
        text-transform: $sc-home-carousel-text-text-transform;
        font-size: $sc-home-carousel-text-font-size;

        @media (max-width: $screen-xs-max){ // until 767px
            display:block;
            // color: $sc-home-carousel-text-color;
            color: $sc-home-carousel-text-color-mobile !important;
            font-size: $sc-home-carousel-text-font-size;
        }

        //piece for override the configurable text color in mobile only.
       

      }

      // button -- This is may vary depending on the theme

      .home-slide-caption-button-container {
          position: static;
          padding-left: $sc-padding-lv4;
          padding-right: $sc-padding-lv4;
          width: 100%;

          @media (min-width: $screen-sm-min) {
              padding:0;
              margin-left: 0;
              margin-right: 0;
              position: relative;
              bottom: 0px;
          }

          .home-slide-caption-button {
              @extend .button-primary;
              @extend .button-large;
              //background-color: $sc-home-carousel-button-background-color;
              //border: 1px solid $sc-home-carousel-button-border-color;
              //color: $sc-home-carousel-button-text-color;
              width: auto;
              padding: 13px $sc-padding-lv4;
              font-weight: $sc-font-weight-light;
              pointer-events: all;
              text-transform:none;

              &:hover {
                  //background-color: $sc-home-carousel-button-background-color-hover;
                  //border: 1px solid $sc-home-carousel-button-border-color-hover;
                  //color: $sc-home-carousel-button-text-color-hover;
              }

              @media (max-width: $screen-xs-max) {
                  //background-color: $sc-home-carousel-button-background-color-mobile;
                  //border: 1px solid $sc-home-carousel-button-border-color-mobile;
                  //color: $sc-home-carousel-button-text-color-mobile;
                  width: auto;
              }
              // icon is not used on this theme
              .home-slide-button-icon {
                  @extend .icon-angle-right;
                  color: $sc-color-icon;
                  font-size: 20px;
                  font-weight: bold;
              }

          }

      }

    }

  }

}

.bx-wrapper, .bx-viewport, .bx-wrapper img {
  
  -webkit-border-radius:6px;
  -khtml-border-radius:6px;
  -moz-border-radius:6px;
  -o-border-radius:6px;
  border-radius:6px;
}